<div class="h3 content-title">Add Event</div>

<div class="add-event-form">
  <form [formGroup]="_addEventForm" (ngSubmit)="addEvent()">
    <p>
      <label>Title</label>
      <input type="text" formControlName="eventTitle" class="required">
    </p>
    <p>
      <label>Description</label>
      <input type="text" formControlName="eventDescription" class="required">
    </p>
    <p class="form-submit">
      <button class="btn btn-primary btn-custom" type="submit" [disabled]="!_addEventForm.valid">Add event</button>
    </p>
  </form>
</div>
