/************
 *  imports
 ************/
@import 'https://fonts.googleapis.com/css?family=Roboto';

@import 'shared/sass/colors';

/************
 *  styles
 ************/
html {
    margin: 0 auto;
}

body {
    background-color: $bg-color;
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}
