/************
 *  imports
 ************/
@import 'https://fonts.googleapis.com/css?family=Roboto';

/************
 *  vars
 ************/
$bg-color: #5e35b1;
$font-color: #ffffff;

/************
 *  styles
 ************/
html {
    margin: 0 auto;
    background-color: $bg-color;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}
