@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

@mixin box-shadow-inset($top, $left, $blur, $color) {
  -webkit-box-shadow: inset $top $left $blur $color;
  -moz-box-shadow: inset $top $left $blur $color;
  box-shadow: inset $top $left $blur $color;
}
