/************
 *  imports
 ************/
@import '../../../../../shared/sass/colors';
@import '../../../../../shared/sass/utils';

/************
 *  styles
 ************/
.open-event-container {
  display: none;
  background-color: $color-teal2;
  position: fixed;
  top: 30%;
  right: 15%;
  left: 15%;
  padding: 1em;
  opacity: 0;
  z-index:1001;
  @include box-shadow(1px, 2px, 4px, rgba(0,0,0,.5));
  @include border-radius(1em);

  @media (max-width: 768px) {
    right: 0;
    left: 0;
  }
}

.open-event {
  background-color: $color-deep-purple2;
  margin: 1em;
  padding: 1em;
  border: .2em solid $font-color;
  @include border-radius(1em);
}

.close-open-event {
  float: right;
  cursor: pointer;
}

.close-open-event:hover {
  color: $color-deep-purple;
}

.stats-container {
  float:right;
}

.stats-container-label {
  font-weight: bold;
}

.label-custom {
  background: $color-teal;
}

.event-menu {
  position: absolute;
  bottom: 2.5em;
  right: 4em;
}

.event-menu:hover {
  color: $color-teal;
  cursor: pointer;
}

.event-menu span {
  font-size: 2em;
}

.open-event-title {
  max-width: 85%;
  font-size: 2em;
  overflow: hidden;
  white-space: nowrap;
}

.open-event-description {
  max-width: 85%;
  overflow: hidden;
  white-space: nowrap;
}
