<div class="h3 content-title">Events</div>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-12 col-md-6 col-md-push-6">
      <div class="open-event-container fixed">
        <div class="close-open-event" (click)="toggleEvent()">
          <span class="fa fa-times-circle"></span>
        </div>
        <div class="open-event">
          <div class="event-title">
            <span>{{_openEvent.title}}</span>
          </div>
          <div class="event-description">
            <span>{{_openEvent.description}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-md-pull-6">
      <div class="events-container">
        <div *ngFor="let event of _eventsModel">
          <div class="event" (click)="openEvent(event)">
            <div class="event-title">
              <span>{{event.title}}</span>
            </div>
            <div class="event-description">
              <span>{{event.description}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>