/************
 *   vars
 ************/
$google-btn-width: 11.938em;
$google-btn-height: 2.875em;

/************
 *  mixins
 ************/
@mixin google-btn-dimensions {
  width: $google-btn-width;
  height: $google-btn-height;
}

/************
 *  styles
 ************/
#google-signin-wrap {
  margin: 0 auto;
  @include google-btn-dimensions();
  padding-top: 3.5em;
}

#google-signin {
  display: inline-block;
  @include google-btn-dimensions();
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url('assets/img/google/btn_google_dark.png');
}

#google-signin:hover {
  background-image: url('assets/img/google/btn_google_focus.png');
}

#google-signin:disabled {
  background-image: url('assets/img/google/btn_google_disabled.png');
}

#google-signin:active {
  background-image: url('assets/img/google/btn_google_pressed.png');
}
