#google-signin-wrap {
  margin: 0 auto;
  width: 140px;
  padding-top: 50px;
}

#google-signin {
  display: inline-block;
  width: 140px;
  background: white;
  color: #444;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
}

#google-signin:hover {
  cursor: pointer;
  background: grey;
}

#google-signin span.icon {
  background: url('assets/img/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

#google-signin span.button-text {
  display: inline-block;
  vertical-align: middle;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
  font-family: 'Roboto', sans-serif;
}