$google-btn-width: 191px;
$google-btn-height: 46px;

@mixin google-btn-dimensions {
  width: $google-btn-width;
  height: $google-btn-height;
}

#google-signin-wrap {
  margin: 0 auto;
  @include google-btn-dimensions();
  padding-top: 50px;
}

#google-signin {
  display: inline-block;
  @include google-btn-dimensions();
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url('assets/img/google/btn_google_dark.png');
}

#google-signin:hover {
  background-image: url('assets/img/google/btn_google_focus.png');
}

#google-signin:disabled {
  background-image: url('assets/img/google/btn_google_disabled.png');
}

#google-signin:active {
  background-image: url('assets/img/google/btn_google_pressed.png');
}
