/************
 *  imports
 ************/
@import '../../assets/sass/colors';
@import '../../assets/sass/utils';

/************
 *  styles
 ************/

.content {
  display: inline-block;
  position: relative;
  top: 5em;
  padding-left: .5em;
}
