/************
 *  imports
 ************/
 @import '../sass/colors';

/************
 *  styles
 ************/

.navbar-fixed-top {
  border: 0;
}

.navbar-header {
  float: left;
}

.navbar-custom {
  font-size: 1.5em;
  background-color: $color-deep-purple2;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.sidebar-button {
  cursor: pointer;
  display: inline-block;
  color: $font-color;
}

.sidebar-button:hover {
  color: $color-teal;
}

.sidebar-button > span {
  font-size: 1.2em;
  margin-top: .1em;
  padding-left: 1em;
}

.sidebar {
  position: fixed;
  background-color: $color-deep-purple2;
  height: 100%;
  top: 3.5em;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.sidebar > li {
  list-style: none;
  cursor: pointer;
}

.sidebar li a {
  color: $font-color !important;
}

.sidebar li.active a {
  color: $color-teal !important;
}

.sidebar li a:hover, a:focus {
  text-decoration: none !important;
  color: $color-teal !important;
}

.sidebar-item {
  padding-top: 1em;
}

.sidebar-item-icon {
  padding-right: 1em;
}

li.signout {
  position: relative;
  top: 5em;
}

.content {
  display: inline-block;
  left: 9em;
  top: 5em;
  position: relative;
}
