<div *ngIf="_authModel?.isAuthorized">

  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">RVEP</div>
      <div class="sidebar-button">
        <span class="fa fa-navicon" (click)='hideSideBar()'></span>
      </div>
    </div>
  </nav>

  <div class="sidebar full">
    <div class="container">
      <ul class="nav nav-sidebar">
          <li class="active sidebar-item text-nowrap">
            <a href="#">
              <span class="fa fa-home"></span>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sidebar-item text-nowrap">
            <a href="#">
              <span class="fa fa-user"></span>
              <span>Profile</span>
            </a>
          </li>
          <li class="sidebar-item text-nowrap">
            <a href="#">
              <span class="fa fa-calendar"></span>
              <span>Events</span>
            </a>
          </li>
          <li class="sidebar-item text-nowrap">
            <a href="#">
              <span class="fa fa-calendar-plus-o"></span>
              <span>Add Event</span>
            </a>
          </li>
          <li class="signout">
            <auth class="auth"></auth>
          </li>
      </ul>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <h3>Dashboard</h3>
    </div>
  </div>
</div>
